<div class="navigation">
  <a [routerLink]="['../../']" class="navigation__item button button-link button-outline ">Back</a>
</div>

@if((cocktailFacadeService.cocktailDetails$ | async); as cocktail) {

<div class="cocktail-card">
  <h4 class="cocktail-card__title cocktail-card__title--sm">{{cocktail.name}}</h4>
  <div class="cocktail-card__highlights cocktail-hightlights">
    <img class="cocktail-highlights__image" [src]="cocktail.image" [alt]="cocktail.name">
    <ul class="cocktail-highlights__meta cocktail-meta">
      <li class="cocktail-meta__item meta-item">
        <span class="meta-item__label">Category</span>
        <b class="meta-item__value">{{cocktail.category}}</b>
      </li>
      <li class="cocktail-meta__item meta-item">
        <span class="meta-item__label">Alcoholic Status</span>
        <b class="meta-item__value">{{cocktail.alcoholicStatus}}</b>
      </li>
    </ul>
  </div>
  <div class="cocktail-card__details">
    <h3 class="cocktail-details__title cocktail-card__title">{{cocktail.name}}</h3>
    <div class="cocktail-details__instructions cocktail-instructions">
      <h4 class="cocktail-instructions__title">Recipe</h4>
      <p class="cocktail-instructions__content">{{cocktail.instructions}}</p>
    </div>
    <app-cocktail-ingredients [ingredients]="cocktail.ingredients"></app-cocktail-ingredients>
  </div>
</div>

}

@if((cocktailFacadeService.cocktailDetailsError$ | async); as error) {
<p class="excuse-text">{{error}}</p>
}


@if(cocktailFacadeService.cocktailDetailsLoading$ | async) {
<app-loader [extraVerticalMargin]="64"></app-loader>
}