
$primary : #8B0000;
$secondary : #CD7F32;
$tertiary : #3EB489;
$quaternary : #708adb;
$text-dark : #212121;
$text-light : #f4f4f4;
$neutral : #F5F5DC;
$background : #fcfcfc;
$muted : #aaa;
$spotlight : #f4f4f4;;