
@use "variables";

.ingredients {
  &__title {
    margin-bottom: 1rem;
  }
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  list-style: none;
  background-color: variables.$background;

  &__item {
    border-bottom: 1px solid variables.$muted;

    &:last-child {
      border-bottom: none;
    }
  }
}

.ingredient-item {
  display: flex;
  padding: 0.5rem;

  &__name {
    flex-basis: 50%;
  }

  &__measurement {
    flex-basis: 50%;
  }
}