@if((cocktailFacadeService.filteredCocktails$ | async); as cocktails) {

<h4>{{type | titlecase}} !, you ask for it! We bring it for you!</h4><br>

<form class="filters" novalidate>
  <div class="form-group">
    <label class="form-label" for="alcoholic-status">Alcoholic status</label>
    <select name="alcoholic-status" id="alcoholic-status" class="form-select" (change)="onAlcoholFilterChange($event)">
      @for(item of dropdownFacadeService.alcoholicStatusDropdown; track $index) {
      <option [value]="item.value">{{item.label}}</option>
      }
    </select>
  </div>
</form>


<div class="cocktail-grid">
  @for(cocktail of cocktails; track cocktail.id){
  <app-cocktail-summary [cocktail]="cocktail"></app-cocktail-summary>
  }
</div>

@if(!cocktails.length) {
<span>{{COCKTAIL_LIST_EMPTY_MESSAGE}}</span>
}
}

@if((cocktailFacadeService.cocktailListError$ | async); as error) {
<span>{{error}}</span>
}