<div class="navigation">
  <a [routerLink]="['../../']" class="navigation__item button button-link button-outline ">Back</a>
</div>

@if((cocktailFacadeService.filteredCocktails$ | async); as cocktails) {

<h4 class="results-title">Here are your results for {{type | titlecase}} !</h4>

<form class="filters" novalidate>
  <div class="form-group">
    <label class="form-label" for="alcoholic-status">Alcoholic status</label>
    <select name="alcoholic-status" id="alcoholic-status" class="form-select" (change)="onAlcoholFilterChange($event)">
      @for(item of dropdownFacadeService.alcoholicStatusDropdown; track $index) {
      <option [value]="item.value">{{item.label}}</option>
      }
    </select>
  </div>
</form>

<div class="cocktail-grid">
  @for(cocktail of cocktails; track cocktail.id){
  <app-cocktail-summary [cocktail]="cocktail"></app-cocktail-summary>
  }
</div>

@if(!cocktails.length) {
<p class="excuse-text">{{COCKTAIL_LIST_EMPTY_MESSAGE}}</p>
}
}

@if((cocktailFacadeService.cocktailListError$ | async); as error) {
<p class="excuse-text">{{error}}</p>
}

@if(cocktailFacadeService.cocktailListLoading$ | async) {
<app-loader [extraVerticalMargin]="64"></app-loader>
}