
@use "variables";

.intro {
  margin-bottom: 1.5rem;

  &__headline {
    color : variables.$primary;
  }
}

.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 31.25rem;
  }

  @media (min-width: 600px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.category-card {
  padding: 1rem;
  background-color: variables.$neutral;
  border: 1px solid variables.$secondary;
  border-radius: .5rem;
  text-decoration: none;

  &:hover,&:active, &:focus {
    outline: 1px solid variables.$primary;
    outline-offset: .25rem;
  }

  &__image {
    min-width: 300px;
    width: 100%;
    max-width: 18.75rem;
    aspect-ratio: 1;

    @media (min-width: 600px) {
      min-width: none;
    }
    
    &:hover,&:active, &:focus {
      outline: none
    }
  }

  &__title {
    color : variables.$secondary;
  }
}