<section class="intro">
  <h3 class="intro__headline">Let us fix a Cocktail for you!</h3>
</section>

<nav class="quick-links">
  <a [routerLink]="['/'+ APP_ROUTES.COCKTAILS, COCKTAIL_SEARCH_TYPES.MARGARITA]"
    class="quick-links__item category-card">
    <img class="category-card__image" src="/images/margarita.webp" alt="Margarita representation" />
    <h4 class="category-card__title">Margarita</h4>
  </a>
  <a [routerLink]="['/'+ APP_ROUTES.COCKTAILS, COCKTAIL_SEARCH_TYPES.MOJITO]" class="quick-links__item category-card">
    <img class="category-card__image" src="/images/mojito.webp" alt="Mojito representation" />
    <h4 class="category-card__title">Mojito</h4>
  </a>
</nav>