<section class="intro">
  <h2 class="intro__headline">Let us fix a Cocktail for you!</h2>
</section>

<nav class="quick-links">
  <a [routerLink]="['/'+ APP_ROUTES.COCKTAILS]" [queryParams]="{ category: COCKTAIL_CATEGORIES.MARGARITA}"
    class="quick-links__item category-card">
    <img class="category-card__image" src="/images/margarita.webp" alt="Margarita" />
    <h4 class="category-card__title">Margarita</h4>
  </a>
  <a [routerLink]="['/'+ APP_ROUTES.COCKTAILS]" [queryParams]="{ type: COCKTAIL_CATEGORIES.MOJITO }"
    class="quick-links__item category-card">
    <img class="category-card__image" src="/images/mojito.webp" alt="Mojito" />
    <h4 class="category-card__title">Mojito</h4>
  </a>
</nav>