@use "variables";


.summary-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: variables.$neutral;
  border: 1px solid variables.$secondary;
  border-radius: .25rem;

  &__image {
    width: 100%;
    aspect-ratio: 1;
  }
}